.navbar {
  background-color: #e3f2fd;
}

.cuestion-input input {
  width: 40%;
  float: left;
  margin-left: 2%;
}

.container {
  background-color: #e3f2fd;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.btn {
  margin-right: 5px;
}
