.navbar {
  background-color: #e3f2fd;
}

.cuestion-input input {
  width: 40%;
  float: left;
  margin-left: 2%;
}

.container {
  background-color: #e3f2fd;
  margin-top: 5px;
}

.texto-input {
  margin: 5px auto;
}
